@charset "UTF-8";

html {
	overflow-y: scroll; /*스크롤바 항상 생김*/
}

#header {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #CCC;
	height: 60px;
}

#header>h1 {
	margin: 1rem;
	font-size: 1.2rem;
}

#header>h1 .material-symbols-outlined {
	transform: translate(0px, 5px);
	font-size: 1.8rem;
}

#header>nav {
	margin: 1rem;
}

#header>nav>a {
	font-size: 16px;
	padding-right: 2px;
}

#header>nav>a::after {
	content: ' ·';
}

#header>nav>a:last-child::after {
	content: '';
}

#main {
	margin: 1rem;
}